{% extends 'base.html' %}
{% load static %}
{% block title %}Estra队列系统{% endblock %}

{% block css %}
<link href="{% static 'css/index2.css' %}" rel="stylesheet"/>{% endblock %}

{% block login_info %}
    {% if is_login == True %}
        <div class="text-whit text-success btn user_info">Welcome {{user_name}}</div>
        <a id="btn_logout" href="/logout"
           class="btn btn-outline-success btn_sign_up">注销
        </a>
    {% else %}
        <button type="button" id="btn_login" data-toggle="modal" data-target="#modal_login"
                class="btn btn-outline-success btn_sign_up">登陆
        </button>
    {% endif %}
{% endblock %}

{% block content %}
<!--    left content-->
<div class="block_content_left ">
    <!--        content control part-->
    <div class="block_control">
        <div class="input-group-prepend ">
            <button class="btn btn-outline-secondary dropdown-toggle dropdown_search" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">搜索条件
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="input-group mb-3">
            {% csrf_token %}
            <input type="text" class="form-control input_search" aria-label="Text input with dropdown button">
            <button class="btn btn-outline-secondary btn_search" type="button" id="button-addon2">搜索</button>
            <button type="button" class="btn btn-outline-primary btn_add"
            {% if is_login == True %}
                id="btn_add_mission"
            {% else %}
                id="btn_add_mission_false"
            {% endif %}
            data-toggle="modal">新任务
            </button>
        </div>

    </div>
    <!--        content 3 tables part-->
    <div class="block_table table-hover table-striped table-sm" id="area_3tables">
        <!--            running list table-->
        <div class="margin_bottom">
            <button class="btn_collapse" type="button" data-toggle="collapse"
                    data-target="#collapse_table1"
                    aria-expanded="false" aria-controls="collapse_table1">
            </button>
            正在运行
        </div>
        <div id="collapse_table1" class="collapse show">
            <table class="" id="table_running">
                <thead class="bg-success">
                <tr>
                    <th class="item1">
                        排队号
                    </th>
                    <th class="item2">账户邮箱</th>
                    <th class="item3">任务名称</th>
                    <th class="item4">请求者地址</th>
                    <th class="item5">注册时间</th>
                    <th class="item6">开始时间</th>
                    <th class="item7">用时</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in running_list%}
                <tr>
                    <td class="item1_td">{{mission.id}}</td>
                    <td>{{mission.account_email}}</td>
                    <td>{{mission.mission_name}}</td>
                    <td>{{mission.sender_address}}</td>
                    <td>{{mission.register_time}}</td>
                    <td>{{mission.start_time}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!--waiting list table-->
        <div class="margin_bottom">
            <button class="btn_collapse" type="button" data-toggle="collapse"
                    data-target="#collapse_table2"
                    aria-expanded="false" aria-controls="collapse_table2">
            </button>
            等待队列
        </div>
        <div id="collapse_table2" class="collapse show">
            <table class="" id="table_waiting">
                <thead class="bg-warning">
                <tr>
                    <th class="item1">排队号</th>
                    <th class="item2">账户邮箱</th>
                    <th class="item3">任务名称</th>
                    <th class="item4">请求者地址</th>
                    <th class="item5">注册时间</th>
                    <th class="item6">开始时间</th>
                    <th class="item7">用时</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in waiting_list %}
                <tr>
                    <td class="item1_td">{{mission.order_id}}</td>
                    <td>{{mission.account_email}}</td>
                    <td>{{mission.mission_name}}</td>
                    <td>{{mission.sender_address}}</td>
                    <td>{{mission.register_time}}</td>
                    <td>{{mission.start_time}}</td>
                    <td></td>
                </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
        </table>
        <!--            history list table-->
        <div class="margin_bottom">
            <button class="btn_collapse" type="button" data-toggle="collapse"
                    data-target="#collapse_table3"
                    aria-expanded="false" aria-controls="collapse_table3">
            </button>
            历史记录
        </div>
        <div id="collapse_table3" class="collapse show">
            <table class="" id="table_history">
                <thead class="bg-info">
                <tr>
                    <th class="item1">排队号</th>
                    <th class="item2">账户邮箱</th>
                    <th class="item3">任务名称</th>
                    <th class="item4">请求者地址</th>
                    <th class="item5">注册时间</th>
                    <th class="item6">开始时间</th>
                    <th class="item7">用时</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in history_list %}
                <tr>
                    <td></td>
                    <td>{{mission.account_email}}</td>
                    <td>{{mission.mission_name}}</td>
                    <td>{{mission.sender_address}}</td>
                    <td>{{mission.register_time}}</td>
                    <td>{{mission.start_time}}</td>
                    <td>{{mission.used_time}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<!--side content block-->
<div class="block_additional">
    <div class="fix_aside">
        <h3>附加内容</h3>
        <p>内容1</p>
        <p>内容2</p>
        <p>内容3</p>


    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新任务</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--modal body-->
            <form action="/add/" method="post">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">
                        <label for="input_local_file">项目文件</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control"
                                   aria-label="local_file" aria-describedby="btn_local_file" id="input_local_file"
                                   name="input_local_file">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="btn_local_file">...
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_iter">计算步数</label>
                        <input type="number" class="form-control" value="1000" id="input_iter" name="input_iter">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" id="btn_mission_submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
<script type="text/javascript" src="{%static 'js/index_event.js' %}"></script>
{% endblock%}
