{% extends 'base.html' %}
{% load static %}
{% block title %}Estra队列系统{% endblock %}

{% block css %}<link href="{% static 'css/index2.css' %}" rel="stylesheet"/>{% endblock %}

{% block UserInfo %}
<form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0 btn-lg btn_sign_up" type="submit">登陆</button>
</form>
{% endblock UserInfo%}
{% block content %}
<div class="block_content">
    <div class="block_content_left">
        <div class="block_control">
             <div class="input-group-prepend dropdown_search">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">搜索条件
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            <div class="input-group mb-3">

                <input type="text" class="form-control input_search" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary btn_search" type="button" id="button-addon2">搜索</button>
                <button type="button" class="btn btn-outline-primary btn_add">新任务</button>

            </div>

        </div>

        <div class="block_table table-hover table-striped table-sm">
            <table class="">
                <thead class="bg-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in running_list%}
                <tr>
                    <th scope="row">{{mission.id}}</th>
                    <td>{{mission.order_id}}</td>
                    <td>{{mission.account_email}}</td>
                    <td>{{mission.sender_address}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="">
                <thead  class="bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in waiting_list%}
                <tr>
                    <th scope="row">{{mission.id}}</th>
                    <td>{{mission.order_id}}</td>
                    <td>{{mission.account_email}}</td>
                    <td>{{mission.sender_address}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            <table class="">
                <thead class="bg-info">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in history_list%}
                <tr>
                    <th scope="row">{{mission.id}}</th>
                    <td>{{mission.order_id}}</td>
                    <td>{{mission.account_email}}</td>
                    <td>{{mission.sender_address}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="block_additional">
        <h1>Additional content</h1>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
        <p>sdfsdfsdfsdf</p>
    </div>


</div>
{% endblock content %}
