

.btn_sign_up{
  width: 120px;
}

.block_content{
  width: 1200px;
  margin: 5px auto;
  background-color: #66CCFF;
}

.block_content_left{
  float:left;
  width: 1000px;

}

.block_control{
  height: 120px;
  padding: 10px;
  background-color: #F0F0F0;
}

.block_control .dropdown_search{
  margin-bottom: 15px;
}

.block_control .input_search{
  flex: none;
  width: 200px;
}

.block_control .btn_search{
  border-radius: 0px 0.25rem 0.25rem 0px;
}

.block_control .btn_add{
  margin-left: 500px;
  width: 200px;
}

.block_table{

  margin-right: 5px;
}

.block_table table{
    width: 100%;
    color: #212529;
}

.block_table .btn_collapse{
    width: 1rem;
    height: 1rem;
    border: 0px;
    background-color: #ffffff;
    background-image: url('../icon/expand.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.block_table .margin_bottom{
    border-bottom:2px solid #dee2e6;
}

.block_table thead, th, td{
    vertical-align: bottom;
    font-size: 0.75rem;
    border-bottom:2px solid #dee2e6;
}

.block_table .item1_td{
    padding-left: 1.75rem;
    width: 7%;
}

.block_table .item1{
    width: 7%;
}

.block_table .item2{
    width: 22%;
}

.block_table .item3{
    width: 25%;
}

.block_table .item4{
    width: 10%;
}

.block_table .item5{
    width: 13%;
}

.block_table .item6{
    width: 13%;
}

.block_table .item7{
    width: 10%;
}



.block_additional{
  float:left;
  width: 195px;
  margin-left: 5px;
  background-color: green;
}
